body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
body > div{
    padding-left: 10vh;
    padding-right: 10vh;
    height: 25vh;
    flex-grow: 0.25;
}

.hero-section, .footer-section{
    background-color: #1F2937;
    color: white;
}

.hero-section, .information-section, .quote-section, .call-section{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    
    min-height: 360px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 8px;
}
.header-logo{
    font-size: 24px;
    font-weight: 900;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-evenly;
    gap: 16px
}

.hero{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.hero-left, .hero-right{
    flex: 1;
}

.hero-left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.hero-right{
    display: flex;
    align-items: center;
    justify-content: center;
}